@import "../../../main-styles.scss";

.root {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button {
        position: absolute;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: $dark;
        background-image: url('../../../assets/cross.png');
        background-position: center center;
        background-repeat: no-repeat;
        right: -17px;
        top: -17px;
        transform: scale(0);
        transition: all .2s ease-out;
        cursor: pointer;
        opacity: 0;

        &:hover {
            transform: scale(1.2);
        }
    }
    
    .budget-item {
        display: flex;
        width: 100%;
        background-color: $light-grey;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .2s ease-out;
        &:hover {
            background-color: darken($light-grey, 5%);
        }

        .description {
            display: flex;
            flex-grow: 1;
            font-size: 18px;
            margin-left: 5px;
            align-items: center;
        }

        .amount {
            padding: 5px;
            border-radius: 3px;
        }
    }
    .expense {
        p {
            color: $red;
        }
        .amount {
            background-color: $light-red;
        }
    }
    .income {
        p {
            color: $green;
        }
        .amount {
            background-color: $light-green;
        }
    }
}